* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
}

/* header */

.navbar {
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar li {
  list-style: none;
  padding: 1rem;
}

.navbar li a {
  padding: 2px 2px;
  text-decoration: none;
  color: #fff;
}

.navbar li a:hover {
  color: gray;
}

.logo {
  height: 45px;
  width: 90px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
}

.right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  height: 24px;
  margin-right: 5px;
}

.notifications-icon-container {
  position: relative;
  margin: 0px 10px 0px 10px;
}

.notifications-icon {
  height: 24px;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
}

.profile {
  height: 30px;
  width: 30px;
  padding: 10px;
}

.profile img {
  width: 100%;
}

/* banner */

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 448px;
  color: white;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 190px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_btn {
  margin-top: 5px;
  margin-bottom: 10px;
}

.banner_btn button {
  width: 80px;
  height: 30px;
  padding: 5px 8px 5px 8px;
  border-radius: 2px;
  border: 1px solid transparent;
}

.banner_btn .detail_button {
  background-color: rgb(110, 107, 107);
  color: white;
}

.banner_btn button:hover {
  background-color: rgb(171, 163, 163, 0.7);
  cursor: pointer;
}

.banner_description {
  line-height: 1.5;
  padding-top: 0.5rem;
  font-size: 1rem;
}

/* row */
.row {
  color: white;
}

.row h2 {
  margin-left: 25px;
  margin-top: 20px;
}

.row_container {
  position: relative;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  scroll-behavior: smooth;
  position: relative;
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.scrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.scrollButton img {
  width: 70px;
  height: 70px;
  opacity: 0.8;
}

.leftButton {
  left: 0;
}

.rightButton {
  right: 0;
}

.row_poster:hover {
  transform: scale(1.1);
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_posterLarge {
  max-height: 250px;
}
